<div class="embed-responsive aspect-ratio-16/9 mt-4 mb-4">
    <div class="embed-responsive-item">
        <iframe
            src="https://codepen.io/{{ frameUrl }}"
            allow="encrypted-media" allowtransparency="true" allowfullscreen="true">
        </iframe>
    </div>
</div>
