<div class="flex justify-center text-center">
    <figure>
        <img src="https://i.giphy.com/media/{{ id }}/giphy.webp" class="rounded g-image g-image--lazy"
            alt="Powered by Giphy.com">
        <figcaption class="figure-caption">Source: <a href="{{ link }}" target="_blank"
                class="hover:text-smalt-blue-700">Giphy</a></figcaption>
    </figure>
</div>
