<div class="embed-responsive mt-4 mb-4 border border-gray-200 min-h-screen">
    <div class="embed-responsive-item">
        <iframe src="{{#if options.secureConnection}}https{{else}}http{{/if}}://{{widgetLink}}" allow="encrypted-media"
            allowfullscreen>
        </iframe>
    </div>
</div>
