<div class="embed-responsive aspect-ratio-16/9 mt-4 mb-4">
    <div class="embed-responsive-item">
        <iframe
            src="https://player.vimeo.com/video/{{id}}?autoplay={{#if options.autoplay}}1{{else}}0{{/if}}&loop={{#if options.loop}}1{{else}}0{{/if}}"
            allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    </div>
</div>
