<div class="embed-responsive aspect-ratio-16/9 mt-4 mb-4">
    <div class="embed-responsive-item">
        <iframe
            src="https://www.youtube{{#if options.nocookie}}-nocookie{{/if}}.com/embed/{{#if playlist}}videoseries?list={{/if}}{{id}}"
            allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
    </div>
</div>
